meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
meta(name='HandheldFriendly', content='true')
meta(name='description', content='')
meta(name='csrf-token', content=_csrf)
meta(name='author', content='Chris Witko for SwiftGift')

title #{title?title+' | ':''}SwiftGift Demo

!= css('styles')

script.
  window.SBB_USER = !{JSON.stringify(user||{})};
